extends layout

block content
  h1= User.userName
   if BrickWithoutView
      .welcome #{BrickWithoutView.welcome}
   if TimeoutBrick
      .not !{TimeoutView}
   else
      .sorry This Brick is timeout